{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Recuperar clave {% endblock %}
{% block content %}
<section class="resume-section">
   <div class="resume-section-content mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-sm-8">
                <h3 class="text-center mb-3 pt-3">Recuperar clave</h3>
                <form method="post">
                    {%csrf_token%}
                <div style="width: 65%; margin: auto; text-align: center;">
                        {{ form | crispy }}
                    <button class="text-decoration-none border border-light text-light rounded shadow btn btn-primary mt-3" type="submit">Continuar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}