{% autoescape off %}

Hola {{ user.username }},

Recibimos una solicitud para recuperar la clave de su cuenta para esta dirección de correo electrónico. Para iniciar el proceso, haga clic en el enlace a continuación,

{{ protocol }}://{{ domain }}{% url 'auth:reset_password_activate' uidb64=uid token=token %}

Este enlace solo se puede utilizar una vez. Si necesita recuperar su clave de nuevo, visite {{ protocol }}://{{domain}} y solicite nuevamente el proceso.

Si no realizó esta solicitud, simplemente puede ignorar este correo electrónico.

Atentamente, 
© 2023 Wilson Medina 

{% endautoescape %}
