{% extends 'base.html' %}
{% block title %} {{ category.name }} {% endblock %}
{% block content %}
<!--Blog entries-->
<section class="resume-section">
     <div class="resume-section-content mt-5">
        <div class="row">
            {% if posts %}
                {% for post in posts %}
                    <div class="col-lg-6">
                        <!-- Blog post--> 
                        <div class="card mb-4">
                            <img class="card-img-top" src="{{ post.image.url }}" alt="Foto Post"/>
                            <div class="card-body">
                                <div class="small text-muted">{{ post.created | date:'d M Y' }}</div>
                                <h2 class="card-title h4">{{ post.title }}</h2>
                                <p class="card-title">{{ post.excerpt }}</p>
                                <p class="card-text"><strong>Author:</strong> {{ post.author.first_name }} {{ post.author.last_name }}</p>
                                <a class="text-decoration-none border border-light text-light rounded shadow btn btn-primary" href="{% url 'blog:read_post' post.pk %}">Leer más...</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <!-- Pagination-->
        <div class="row"> 
            <ul class="pagination justify-content-center my-4">
                <li class="page-item mx-2">
                {% if posts.has_previous %}
                <div class="clearfix">
                    <a href="?page={{ posts.previous_page_number }}" class="text-decoration-none text-light rounded btn btn-primary">ANT</a>
                </div>
                {% endif %}
                </li>
                <li class="page-item">
                {% if posts.has_next %}
                <div class="clearfix">
                    <a href="?page={{ posts.next_page_number }}" class="text-decoration-none text-light rounded btn btn-primary">SIG</a>
                </div>
                {% endif %}  
                </li>
            </ul>    
        </div>  
    </div>
</section>
{% endblock %}


                   